*{
    margin-top: 0%;
}

body{
    background-color: plum;
}

h1{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 6px 9px gray;
    word-spacing: 25px;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 3em;
    color: #000000;
    background-color: bisque;
    margin-left: 10%;
    margin-right: 10%;
    
}
h2{
    margin-left: 30%;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', serif;
}

hr{
    height: 2px;
    background: black;
}

ul,ol{
    font-size: 20px;
    text-indent: 10%;
    list-style-position: inside;
    background-color: #FF6DD4;
    font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
}

p{
    text-indent: 10%;
    font-size: 20px;
    font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
    text-align: justify;
}

mark{
    background-color: bisque;
    font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
}

address{
    margin-left: 300px;
    font-size: 20px;
    font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
    line-height: 50px;
}

ul.b {
    list-style-position: outside;
    border: 1px solid #000000;
    margin-left: 3em;
    background-color: #f7f5f0;
}

ul.b li{
    padding: 8px 7px;
    border: 1px solid #000000;
    margin-left: 10px;
    background-color: #f7f5f0;
}

ul.c {
    border-left: 5px solid red;
    background-color: #f7f5f0;
    padding: 10px 20px;
    margin-left: 10%;
    margin-right: 700px;
}

ul.e {
    list-style-position: outside;
    border: 1px solid #000000;
    margin-left: 13%;
    margin-right: 600px;
}

ul.e li{
    padding: 8px 7px;
    border: 1px solid #000000;
}

ol.f{
    list-style-position: outside;
    border: 1px solid #000000;
    margin-left: 13%;
    margin-right: 600px;
}

ol.f li{
    padding: 8px 7px;
    border: 1px solid #000000;
    background-color: #f7f5f0;
}

li.g{
    background-color: #f7f5f0;
}

h3{
    text-indent: 10%;
    background-color: bisque;
    height: 32px;
    width: 25%;
    font-size: 23px;
    font-style: italic;
    text-shadow: 6px 6px 8px gray;
    margin-left: 70px;
    font-family: Georgia, 'Times New Roman', serif;
}

p.header{
    text-indent: 0%;
    word-spacing: 40px;
    font-size: 27px;
    font-family: Rockwell;
    text-shadow: 6px 6px 8px gray;
}
div.headerBackGround{
    background-color: #000080;
    height: 2em;
    width: auto;
}

img.arrowButton{
    height: 50px;
    width: 50px;
    bottom: 0%;
    right: 0%;
    float: right;
    position: fixed;
    opacity: 75%;
}


.button a:link{color: yellow;padding: 7px; text-decoration:none;}
.button a:visited{color:yellowgreen;}
.button a:hover{color: white; }
.button a:active{color: red;}

.button2 a:link{color: rgb(202, 240, 142);padding: 7px; text-decoration:none;}
.button2 a:visited{color: rgb(15, 26, 119);}
.button2 a:hover{color: white; }
.button2 a:active{color: red;}

.icon1{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.icon2{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.icon3{
    width: 25px;
    height: 45px;
    vertical-align: text-bottom;
    margin-left: 5px;
    margin-right: 5px;
}

img.vertical{
    height: 400px;
    width: 300px;
}