body{
    background-color: plum;
}

h1{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 6px 9px gray;
    word-spacing: 25px;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 3em;
    color: #000000;
    background-color: bisque;
    margin-left: 10%;
    margin-right: 10%;
    
}
h2{
    text-align: center;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', serif;
}

hr{
    height: 2px;
    background: black;
}

ul,ol{
    font-size: 20px;
    text-indent: 10%;
    list-style-position: inside;
    background-color: #FF6DD4;
    font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
}

p{
    text-indent: 10%;
    font-size: 20px;
    font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
    text-align: justify;
}

mark{
    background-color: bisque;
    font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
}

address{
    text-align: center;
    font-size: 20px;
    font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
}

ul.b {
    list-style-position: outside;
    border: 1px solid #000000;
    margin-left: 3em;
    background-color: #f7f5f0;
}

ul.b li{
    padding: 8px 7px;
    border: 1px solid #000000;
    margin-left: 10px;
    background-color: #f7f5f0;
}

ul.c {
    border-left: 5px solid red;
    background-color: #f7f5f0;
    padding: 10px 20px;
    margin-left: 10%;
    margin-right: 700px;
}

ul.e {
    list-style-position: outside;
    border: 1px solid #000000;
    margin-left: 13%;
    margin-right: 600px;
}

ul.e li{
    padding: 8px 7px;
    border: 1px solid #000000;
}

ol.f{
    list-style-position: outside;
    border: 1px solid #000000;
    margin-left: 13%;
    margin-right: 600px;
}

ol.f li{
    padding: 8px 7px;
    border: 1px solid #000000;
    background-color: #f7f5f0;
}

li.g{
    background-color: #f7f5f0;
}

h3{
    text-indent: 10%;
    background-color: bisque;
    height: 32px;
    width: 25%;
    font-size: 23px;
    font-style: italic;
    text-shadow: 6px 6px 8px gray;
    margin-left: 70px;
    font-family: Georgia, 'Times New Roman', serif;
}